body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
}

.bloc-page {
  border: 1px solid grey;
  margin: auto;
  max-width: 1600px;
  width: 100%;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

nav {
  max-width: 1600px;
}

.logo {
  height: 50px;
  margin: 5px;
}

.description {
  text-align: justify;
}

.parallax-container {
  color: rgb(255,255,255);
  height: auto;
  line-height: 0;
  min-height: 380px;
}

.parallax-container .section {
  width: 100%;
}

.report-title {
  border: 3px solid #ff8a65;
  border-radius: 10px;
  padding: 0 10px 0 10px;
}

.report-info {
  border: 3px solid #42a5f5;
  border-radius: 10px;
  margin-top: 20px;
  padding: 0 10px 0 10px;
  text-align: justify;
}

.report-info2 {
  border: 2px dashed black;
  border-radius: 10px;
  margin-top: 20px;
  padding: 0 10px 0 10px;
  text-align: center;
}

.report-info3 {
  border: 5px double #ff8a65;
  border-radius: 10px;
  margin-top: 20px;
  padding: 0 10px 0 10px;
  text-align: justify;
}

.report-page {
  font-size: 1.1em;
}

.report-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  #login-button {
   display: none;
 }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.page-footer {
  margin: 0;
}
